@import "../styles.sass"

.home-banner 
    // Layout
    height: 60vh

.card 
    // Layout
    margin-top: 20px
    @extend .sm-px-4
    .card-img 
        // Layout
        min-height: 175px
    .post-title, .createdAt 
        // Layout
        @extend .sm-px-6
    .post-title 
        // Layout
        @extend .sm-w-1_2
        @extend .sm-py-6

        // Typography
        font-weight: bold
        @extend .sm-text-2xl
        @extend .font-serif