@import "../../styles.sass"

nav 
    // Layout
    width: 100vw
    display: flex 
    align-items: center
    position: absolute
    z-index: 10
    @extend .sm-justify-around, .md-justify-between

    // Typography
    color: #fff
    h1, div
        // Layout
        width: 100%
        height: 80px
        display: flex 
        justify-content: center
        align-items: center
        height: 90px
        border: 1px solid rgba(255, 255, 255, .2)
    .spacer 
        // Layout
        width: 100%
        @extend .sm-hidden, .lg-block
    .searchBar 
        // Layout
        display: flex
        width: 100%
        max-width: 500px
        .search-icon 
            // Layout
            height: 18px
            width: 18px
            margin-right: 15px
            @extend .sm-hidden, .lg-inline
        input    
            // Misc Styling
            background-color: transparent
            @extend .sm-hidden, .lg-inline
    .burger
        // Layout 
        min-width: 100px
        max-width: 175px
        img 
            // Layout
            width: 40px
            height: 40px
            cursor: pointer


