@import "../../styles.sass"

nav 
    // Layout
    width: 100vw
    display: flex 
    align-items: center
    position: absolute
    z-index: 10
    @extend .sm-justify-around, .md-justify-between
    h1, div, img
        // Layout
        display: flex 
        justify-content: center
        align-items: center
        height: 115px
        @extend .md-px-24
    .title 
        // Typography
        color: $main-color
        font-weight: bold
        @extend .text-2xl
        @extend .tracking-widest
    .spacer 
        // Layout
        width: 100%
        @extend .sm-hidden, .md-block
    .searchBar 
        // Layout
        margin: 0 80px 0 40px
        @extend .sm-hidden, .md-block
    .burger 
        // Layout
        width: 50px
        height: 50px