@import "../node_modules/headwindcss/headwind.scss"

$main-color: #ED694F

body 
    overflow-x: hidden 

.row 
    // Layout
    display: flex 
    
.slide 
    // Typography
    color: #fff
    .banner 
        // Layout
        width: 100vw
        z-index: 1
        &:before 
            // Layout
            content: ''
            display: block
            position: absolute
            top: 0
            right: 0
            bottom: 0
            left: 0
            background: rgba(0, 0, 0, .3)
            z-index: 2



       


