@import "../node_modules/headwindcss/headwind.scss"

$main-color: #ED694F

body 
    overflow-x: hidden 
    @extend .font-sans

.row 
    // Layout
    display: flex 

.siteName
    // Layout
    @extend .px-12

    // Typography
    color: $main-color
    font-weight: bold
    @extend .text-2xl
    @extend .tracking-widest

.slide 
    // Layout
    width: 100vw

    // Typography
    color: #fff
    .banner 
        // Layout
        width: 100vw
        z-index: 1
        &:before 
            // Layout
            content: ''
            display: block
            position: absolute
            top: 0
            right: 0
            bottom: 0
            left: 0
            background: rgba(0, 0, 0, .3)
            z-index: 2

.buttonBack___1mlaL,
.buttonFirst___2rhFr,
.buttonLast___2yuh0,
.buttonNext___2mOCa,
.buttonNext___3Lm3s,
.dot___3c3SI 
    cursor: pointer


.image___xtQGH 
    display: block
    width: 100%
    height: 50vh

.container___2O72F 
    position: relative
    overflow: hidden
    height: 40vh
    width: 100%


.overlay___IV4qY 
    position: relative
    top: 0
    left: 0
    bottom: 0
    right: 0
    opacity: 0
    cursor: zoom-in
    transition: opacity .3s, transform .3s


.hover___MYy31,
.loading___1pvNI,
.zoom___3kqYk 
    opacity: 1


.slide___3-Nqo 
    position: relative
    display: block
    box-sizing: border-box
    height: 0
    margin: 0
    list-style-type: none


.slide___3-Nqo:focus 
    outline: none!important


.slideHorizontal___1NzNV 
    float: left


.slideInner___2mfX9 
    position: relative
    top: 0
    left: 0
    width: 100%
    height: 40vh

.horizontalSlider___281Ls 
    position: relative
    overflow: hidden


.horizontalSliderTray___1L-0W 
    overflow: hidden
    width: 100vw


.sliderTray___-vHFQ 
    display: block
    list-style: none
    padding: 0
    margin: 0


.sliderAnimation___300FY 
    transition: transform .5s
    transition-timing-function: cubic-bezier(.645, .045, .355, 1)
    will-change: transform



       


